*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
header{
    height: 10vh;
    background-color: blueviolet;
}
main{
    height: 80vh;
    background-color: rgb(83, 155, 0);
}
footer{
    height: 10vh;
    background-color: rgb(47, 163, 251);
}